#background
{
	position:absolute; 
	z-index:-1
}

a:focus
{
	outline:none;
	-moz-outline:none;
}

.input-search-offset
{
	text-align:center;
	margin-top:5%;
}

.navbar-offset
{
	text-align:right;
	margin-right:6%;
}

.navbar-right
{
	margin:auto;
	font-size:30px;
	color:red;
}

.navbar-left
{
	float:left;
	font-size:20px;
	color:blue;
	margin-left:30px;
}
