html,body
{
	font-family: "微软雅黑";
}

.vertical-center
{
	height : 40px;
}

.vertical-offset
{
	padding-top : 3px;
}

.vertical-offset-lg
{
	padding-top : 11px;
}

#navbar-form
{
	background-color : #EDEDED;
}

#mark
{
	padding-top : 100px;
}

.explain
{
	color:blue;
}

hr
{
	margin-top:0px;
	margin-bottom:0px;
}
