{% include "header.html" %}

<link rel="stylesheet" href="{{ static_url("css/index.css") }}" >

</head>

<body>

<div id="background">  
	<img src="{{ static_url("image/index1.bmp") }}" height="100%" width="100%"/>  
</div>

<div>
	{% if username is None %}
	<a class="navbar-left" href="login">登陆</a>
	<a class="navbar-left" href="register">注册</a>
	{% else %}
	<span class="navbar-left">{{username}}</span>
	{% end %}
</div>

<form id="search-form" method="get" action="search" target="_blank">
	<!-- 导航栏 -->
	<div id = "navbar" class = "row navbar-fixed-bottom col-lg-offset-4">
			 <div class="col-lg-3 dropup">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">题型筛选</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								{% if type_list %}
									{% for type in type_list %}
									<li><a name = "type" href="#">{{ type }}</a></li>
									{% end %}
								{% end %}
							</ul>
					</div><!-- /btn-group -->
					<!-- <input type="text" class="form-control" aria-label="...">-->
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->

			<div class="col-lg-3 col-lg-offset-1 dropup">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">学科筛选</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-h
		aspopup="true" aria-expanded="false"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								{% if subject_list %}
									{% for subject in subject_list %}
									<li><a name = "subject" href="#">{{ subject }}</a></li>
									{% end %}
								{% end %}
							</ul>
					</div><!-- /btn-group -->
					<!-- <input type="text" class="form-control" aria-label="..."> -->
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
	</div>

	<!--搜索-->
	<!--
		<form id = "navbar-form" class="navbar-form vertical-center vertical-offset" role="search" >
			<div class="form-group col-lg-offset-1">
				<input type="text" class="form-control" placeholder="搜索">
			</div>
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
	-->
	</div>


	<!-- 搜索-->
	<div id="search_bar" class="container-fluid">
			<div class="form-group form-inline">
				<div class="input-search-offset">
					<input id="search-data" type="text" class="form-control input-lg" style="width:850px" autofocus="autofocus" autocomplete="off" spellcheck="false"  placeholder="请输入题号">
					<div class="btn-group">
						<button id="search-btn" type="button" class="btn btn-success btn-lg">搜索一下</button>
						<button id="search-item" type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
							<span class="caret"> </span>
							<span class="sr-only"></span>
						</button>
						<ul class="dropdown-menu search-dropdown-menu">
							<li><a id="paper-search" href="#">搜索paper题库</a></li>
						</ul>
				    </div>
				</div>
			</div>	
			<input id="search_type" type="hidden" name="type" value="">
			<input id="search_data" type="hidden" name="data" value="">
	</div>
</form>
</body>

{% include "footer.html" %}

<script src="{{ static_url("js/index.js") }}"></script>

</html>
