{% include "header.html" %}

<link rel="stylesheet" href="{{ static_url("css/login.css") }}" >

</head>

<body>

<!-- Login Screen -->
    <div class="login-wrapper">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
	    <input id="username" name="username" class="form-control" placeholder="用户名" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
	    <input id="password" name="password" class="form-control" placeholder="密码" type="password">
          </div>
        </div>
        <input id="login" class="btn btn-lg btn-primary btn-block" type="submit" value="登录">
      <a class="btn btn-default-outline btn-block" href="register">立即注册</a>
    </div>
    <!-- End Login Screen -->

<div id="alert"></div>
</body>

{% include "footer.html" %}

<script src="{{ static_url("js/login.js") }}"></script>

</html>
