
<div id = "new_question_show" class = "col-lg-6"> 

        </br>

        <div id = "question_info" class = "row">
                <div class = "alert alert-success col-lg-11">
                        <p class = "text-muted">
                                <span>{{ type  }}</span>
                                <span class = "col-lg-offset-2">{{ subject  }}</span>
                                <span class = "col-lg-offset-2">难度:{{ level }}</span>
                        </p>
                </div>
        </div>

        </br>

        <div class = "row">
		{% if new_question['body'] %}
			<div class="explain">题干</div>
			<hr />
			{% for item in new_question['body'] %}
				{% raw item %}
			{% end %}
		{% end %}

		{% if new_question['options'] %}
			<div class="explain">选项</div>
			<hr />
			{% for item in new_question['options'] %}
				{% for option in item %}
					{% raw option %}
				{% end %}
			{% end %}
		{% end %}

		{% if new_question['answer'] %}
			<div class="explain">回答</div>
			<hr />
			{% for item in new_question['answer'] %}
				{% raw item %}
			{% end %}
		{% end %}

		{% if new_question['analysis'] %}
			<div class="explain">分析</div>
			<hr />
			{% for item in new_question['analysis'] %}
				{% raw item %}
			{% end %}
		{% end %}
        </div>

        <div id = "q_new_id" style = "display:none">{{ q_new_id }}</div>

</div>

