
<div id = "new_question_show" class = "col-lg-6"> 

        <br />

        <div id = "question_info" class = "row">
                <div class = "alert alert-success col-lg-11">
                        <p class = "text-muted">
                                <span>{{ type  }}</span>
                                <span class = "col-lg-offset-2">{{ subject  }}</span>
                                <span class = "col-lg-offset-2">难度:{{ level }}</span>
                        </p>
                </div>
        </div>

        <br />

        <div class = "row" style="word-wrap:break-word;word-break:break-all;">
		{% if new_question %}

			{% if 'material' in new_question.keys() %}
				<div class="explain">材料</div>
				<hr />
				{% for item in new_question['material'] %}
					{% raw item %}
				{% end %}
			{% end %}

			{% if 'body' in new_question.keys() %}
				<div class="explain">题干</div>
				<hr />
				{% for item in new_question['body'] %}
					{% raw item %}
				{% end %}
			{% end %}

			{% if 'translation' in new_question.keys() %}
				<div class="explain">翻译</div>
				<hr />
				{% for item in new_question['translation'] %}
					{% raw item %}
				{% end %}
			{% end %}

			{% if 'questions' in new_question.keys() %}
				<div class="explain">子题</div>
				<hr />

				{% for sub_id,sub_question in enumerate(new_question['questions']) %}
					<div id="sub_question{{ sub_id + 1 }}">
					{% if 'body' in sub_question['sub_question'].keys() %}
						<div class="explain">题干</div>
						<hr />
							{% for item in sub_question['sub_question']['body'] %}
								{% raw item %}
							{% end %}
					{% end %}
				
					{% if 'options' in sub_question['sub_question'].keys() %}
						<div class="explain">选项</div>
						<hr />
						{% for item in sub_question['sub_question']['options'] %}
							{% for option in item %}
								{% raw option %}
							{% end %}
						{% end %}
					{% end %}

					{% if 'answer' in sub_question['sub_question'].keys() %}
						<div class="explain">回答</div>
						<hr />
						{% for i,item in enumerate(sub_question['sub_question']['answer']) %}
							<div id="index{{ i+1 }}" name="old_answer" style="float:left;">{% raw item %}</div>
						{% end %}
						<br />
						{% for i in range(sub_question['sub_num']) %}
							<input id="{{ i+1 }}" name="new_answer" class="form-control input-sm " style="width:200px;display:inline;" type="text" autocomplete="off" placeholder="请填写答案{{ i+1 }}" /> 
						{% end %}
						<br />
						{% if sub_question['sub_num'] %}
							<button id="submit_answer" type="button" data-loading-text="已提交" class="btn btn-success btn-sm">提交答案</button>
						{% end %}
					{% end %}
				
					{% if 'analysis' in sub_question['sub_question'].keys() %}
						<div class="explain">分析</div>
						<hr />
						{% for item in sub_question['sub_question']['analysis'] %}
							{% raw item %}
						{% end %}
					{% end %}
					</div>
				{% end %}
			{% end %}

			{% if 'options' in new_question.keys() %}
				<div class="explain">选项</div>
				<hr />
				{% for item in new_question['options'] %}
					{% for option in item %}
						{% raw option %}
					{% end %}
				{% end %}
			{% end %}

			{% if 'answer' in new_question.keys() %}
				<div class="explain">回答</div>
				<hr />
				{% for i,item in enumerate(new_question['answer']) %}
					<div id="index{{ i+1 }}" name="old_answer" style="float:left;">{% raw item %}</div>
				{% end %}
				<br />
				{% for i in range(blank_num) %}
					<input id="{{ i+1 }}" name="new_answer" class="form-control input-sm " style="width:200px;display:inline;" type="text" autocomplete="off" placeholder="请填写答案{{ i+1 }}" /> 
				{% end %}
				<br />
				{% if blank_num %}
					<button id="submit_answer" type="button" data-loading-text="已提交" class="btn btn-success btn-sm">提交答案</button>
				{% end %}

			{% end %}
		
			{% if 'analysis' in new_question.keys() %}
				<div class="explain">分析</div>
				<hr />
				{% for item in new_question['analysis'] %}
					{% raw item %}
				{% end %}
			{% end %}
		{% else %}
			json格式错误，暂时无法解析
		{% end %}
        </div>

        <div id = "q_new_id" style = "display:none">{{ q_new_id }}</div>

</div>

