{% include "header.html" %}

<link rel="stylesheet" href="{{ static_url("css/new_old_question_show.css") }}" >

<span>{{username}}</span>

<div class = "container">
	<div class = "row">

		{% include "old_question_show.html" %}

		{% include "new_question_show.html" %}

	</div>
</div>

<div id = "page" class = "container row  text-center">
	<nav>
		<ul class="pager">
			<li class = "{{ front_is_able }}"><a {{ front }} >上一页</a></li>
			<li class = "{{ next_is_able }}" ><a {{ next }} >下一页</a></li>
		</ul>
	</nav>
</div>

<div id="systematics">

	<div class = "row">

	{% for module,unit,topic in systematics_list %}

		<div class="row">
			<span>{{ module }}/</span>
			<span>{{ unit }}/</span>
			<span>{{ topic }}</span>
		</div>

	{% end %}

	</div>

</div>

<div id="verify" class="text-center">
	<button id="pass" data-loading-text="通过" class="btn btn-success btn-lg">审核通过</button>
 	<button id="no" data-loading-text="不通过" class="btn btn-danger btn-lg col-lg-offset-1">审核不通过</button>
</div>

<div id = "mark" class = "text-center">
	
	<div class = "row">

	{% for id,mark in mark_list %}

		{% if id%5 == 0 %}
			<br />
			<div class = "row">		
		{% end %}

		<button type="button" name = "mark_btn" id="{{ id }}" data-loading-text="已标记" class="btn btn-info btn-lg col-lg-offset-1" autocomplete="off">{{ mark }}</button>

		{% if id%5 == 5 %}
			</div>		
		{% end %}

	{% end %}

	</div>
</div>

<br />

<div class="form-group form-inline text-center">
	<input id="mark_data" type="text" class="form-control input-lg" style="width:850px" autof
ocus="autofocus" autocomplete="off" spellcheck="false"  placeholder="增加标记信息">
	<button id="add_mark" type="button" class="btn btn-warning btn-lg">增加标记</button>
</div>

{% include "footer.html" %}

<script src = "{{ static_url("js/new_old_question_show.js") }}"> </script>

</html>
