
<div id = "old_question_show" class = "container">

	</br>

	<div id = "question_info" class = "row">
		<div class = "alert alert-info col-lg-6">
			<p class = "text-muted">
				<span>{{ type  }}</span>
				<span class = "col-lg-offset-4">{{ subject  }}</span>
				<span class = "col-lg-offset-4">难度:{{ level }}</span>
			</p>
		</div>
	</div>
	
	</br>

	{% for url in url_list %}
	<div class = "row">
		<img src = "{{ url }}" class = "col-lg-6"/>
	</div>	
	
	</br>
	{% end %}

	<div id = "q_old_id" style = "display:none">{{ q_old_id }}</div>

</div>



