
<div id = "old_question_show" class = "container">

	</br>

	<div id = "question_info" class = "row">
		<div class = "alert alert-info col-lg-6">
			<p class = "text-muted">
				<span>{{ type  }}</span>
				<span class = "col-lg-offset-8">难度:{{ level }}</span>
			</p>
		</div>
	</div>
	
	</br>

	<div id = "quesion_body" class = "row">
		<img src = "{{ body_img_url }}" class = "col-lg-6"/>
	</div>	
	
	</br>

	<div id = "question_option" class = "row">
		<img src = "{{ option_img_url }}" class = "col-lg-6"/>
	</div>	

	</br>

	<div id = "question_answer" class = "row">
		<img src = "{{ answer_img_url }}" class = "col-lg-6"/>
	</div>	

	</br></br>


	<div id = "quesiont_analysis" class = "row">
		<img src = "{{ analysis_img_url }}" class = "col-lg-6"/>
	</div>	


	<div id = "mark" class = "row text-center">
		<button type="button" id="body_error" data-loading-text="已标记" class="btn btn-info btn-lg col-lg-offset-1" autocomplete="off">
			题干错误
		</button>

		<button type="button" id="answer_error" data-loading-text="已标记" class="btn btn-success btn-lg col-lg-offset-1" autocomplete="off">
			答案错误
		</button>

		<button type="button" id="analysis_error" data-loading-text="已标记" class="btn btn-warning btn-lg col-lg-offset-1" autocomplete="off">
			解析错误
		</button>

	</div>

</div>



