{% include "header.html" %}

<link rel="stylesheet" href="{{ static_url("css/register.css") }}" >

</head>

<body>

<!-- Login Screen -->
    <div class="login-wrapper">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
	    <input id="username" name="username" class="form-control" placeholder="用户名" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
	    <input id="password" name="password" class="form-control" placeholder="密码" type="password">
          </div>
        </div>
	<div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
	    <input id="repeat-password" name="password" class="form-control" placeholder="重复输入密码" type="password">
          </div>
        </div>

        <input id="register" class="btn btn-lg btn-primary btn-block" disabled="disabled" value="注册">
      <a class="btn btn-default-outline btn-block" href="login">立即登陆</a>
    </div>
    <!-- End Login Screen -->

    <div id="alert"></div>
</body>

{% include "footer.html" %}

<script src="{{ static_url("js/register.js") }}"></script>

</html>
